/*  Compose Tweet */

section.compose-tweet {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 2em;
  width: 90%;
  background-color: #eee;
}

section.compose-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 15px 0;
}

section.compose-tweet form textarea {
  padding: 5px;
  width: 100%;
  resize: vertical;
  background-color: white;
  border: 1px solid gray;
}

.counter {
  margin: 5px 5px 15px;
  float: right;
  font-style: italic;
  font-size: smaller;
}

/* toggle classes for counter */

.orange {
  color: #fc8311;
}

.red {
  color: red;
}