/*  Compose Tweet */

section#compose-tweet {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 1em 2em 0;
  background-color: #eee; 
}

section#compose-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 15px 0;
}

section#compose-tweet form textarea {
  border: 1px solid gray;
  padding: 5px;
  width: 100%;
  resize: vertical;
  background-color: white;
}

section#compose-tweet form div {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

section#compose-tweet form input {
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
}

#counter {
  /* margin: 5px 5px 15px; */
  float: right;
  font-style: italic;
  font-size: smaller;
}

/* __ toggle classes__ */

.orange {
  color: #fc8311;
}

.red {
  color: red;
}

.hidden {
  display: none;
}