#nav-bar {
  position: fixed;
    top: 0;
  z-index: 1;
  padding: 0 2em;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  background-color: #00a087;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

#nav-bar .left {
  display: flex;
  align-items: center;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  transition: 0.3s;
}

#nav-bar .header {
  font-size: 2em;
}

#nav-bar #compose-btn {
  opacity: 0.85;
  color: #00a087;
  padding: 0 20px;
  height: 70%;
  border: 1px solid #244751;
  border-radius: 5px;
  transition: 0.3s;
}

#nav-bar #compose-btn:hover {
  opacity: 1;
  color: #244751;
  cursor: pointer;
  box-shadow: 0 0 1em #006d5d;
}

@media (min-width: 300px) and (max-width: 450px) {
  #nav-bar {
    padding: 0 1em;
  }

  #nav-bar #compose-btn {
    height: 50%;
    padding: 0 1em;
  }
}

@media (max-width: 299px) {

  #nav-bar {
    padding: 0 0.5em;
  }

  #nav-bar #compose-btn {
    height: 40%;
    padding: 0 .5em;
    margin-left: 1em;
    font-size: x-small;
  }
}
