nav#nav-bar {
  position: fixed;
    top: 0;
  z-index: 1;
  padding: 0 2em;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  background-color: #00a087;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  float: left;
}

#nav-bar .header {
  margin-top: 30px;
  font-size: 2rem;
  float: left;
}

#nav-bar #compose-btn {
  opacity: 0.75;
  float: right;
  color: #00a087;
  margin: 10px;
  height: 70%;
  border: 1px solid #244751;;
  border-radius: 5px;
}

#nav-bar #compose-btn:hover {
  opacity: 1;
  color: #244751;
  cursor: pointer;
}